In [1]:
import pandas as pd

import datetime
from collections import Counter
import math
path='/Users/yexianyong/Downloads/福年-11月原始打卡数据.xlsx'
# data=pd.read_excel(path)
# data = data[(data['姓名'] == "叶显勇")]
# # print(data)

# index = data.index[3]


# on_date=datetime.datetime.strptime('2017/11/2 09:33:18','%Y/%m/%d %H:%M:%S')
# off_date=datetime.datetime.strptime('2017/11/2 18:53:18','%Y/%m/%d %H:%M:%S')
# duration=off_date-on_date
# hours=(duration.days*24*60+duration.seconds/60.0)/60.0
# if on_date.hour<12 and off_date.hour >13:
#     hours=hours-1
# print (math.ceil(8-hours))

# print(on_date.hour-9,on_date.minute)
    
    
# print(type(off_date))

In [2]:
#help document:https://www.jianshu.com/p/4345878fb316
import numpy as np
dict_obj = {'key1' : ['a', 'b', 'a', 'b', 
                      'a', 'b', 'a', 'a'],
            'key2' : ['one', 'one', 'two', 'three',
                      'two', 'two', 'one', 'three'],
            'data1': np.random.randn(8),
            'data2': np.random.randn(8)}
df_obj=pd.DataFrame(dict_obj)
print(df_obj)

      data1     data2 key1   key2
0 -0.355850 -1.684653    a    one
1 -0.601365 -1.734286    b    one
2 -0.752429  0.084880    a    two
3  1.098388  0.721257    b  three
4 -0.048424 -0.104549    a    two
5  0.803675  1.638549    b    two
6 -0.199702  0.725063    a    one
7  0.506176  1.065139    a  three

In [19]:
df_obj['add']=df_obj[['data1','data2']].apply(lambda x:x[0]+x[2])
df_obj

      data1     data2 key1   key2  add
0 -0.355850 -1.684653    a    one  NaN
1 -0.601365 -1.734286    b    one  NaN
2 -0.752429  0.084880    a    two  NaN
3  1.098388  0.721257    b  three  NaN
4 -0.048424 -0.104549    a    two  NaN
5  0.803675  1.638549    b    two  NaN
6 -0.199702  0.725063    a    one  NaN
7  0.506176  1.065139    a  three  NaN

In [33]:
import json
a=df_obj.to_json(orient='records')
# for index in df_obj.index:
#     print(json.loads(a)[str(index)])
#     break
json.loads(a)

[{'add': None,
  'data1': -0.3558495629,
  'data2': -1.6846531229,
  'key1': 'a',
  'key2': 'one'},
 {'add': None,
  'data1': -0.60136465,
  'data2': -1.7342862084,
  'key1': 'b',
  'key2': 'one'},
 {'add': None,
  'data1': -0.7524289875,
  'data2': 0.0848804808,
  'key1': 'a',
  'key2': 'two'},
 {'add': None,
  'data1': 1.0983881397,
  'data2': 0.7212568642,
  'key1': 'b',
  'key2': 'three'},
 {'add': None,
  'data1': -0.0484236711,
  'data2': -0.1045494534,
  'key1': 'a',
  'key2': 'two'},
 {'add': None,
  'data1': 0.8036745164,
  'data2': 1.6385488656,
  'key1': 'b',
  'key2': 'two'},
 {'add': None,
  'data1': -0.1997017231,
  'data2': 0.7250632664,
  'key1': 'a',
  'key2': 'one'},
 {'add': None,
  'data1': 0.5061760349,
  'data2': 1.065138978,
  'key1': 'a',
  'key2': 'three'}]

In [3]:
group1=df_obj.groupby('key1')
print(group1.mean())
group2=df_obj['data1'].groupby(df_obj['key1'])
print (group2.mean())
print(group1.size(),group2.size())

         data1     data2
key1
a    -0.170046  0.017176
b     0.433566  0.208507
key1
a   -0.170046
b    0.433566
Name: data1, dtype: float64
key1
a    5
b    3
dtype: int64 key1
a    5
b    3
Name: data1, dtype: int64

In [4]:
from datetime import datetime,timedelta
import pandas as pd

start_date = datetime.strptime('2018-05-22', '%Y-%m-%d')
end_date = datetime.strptime('2018-05-26', '%Y-%m-%d')
days=(end_date - start_date).days

data = [0 for day in range(days)]
days_list=[datetime.strftime(start_date+timedelta(days=delta),'%Y-%m-%d') for delta in range(days)]
days_df=pd.DataFrame(data,index=days_list)

days_df

            0
2018-05-22  0
2018-05-23  0
2018-05-24  0
2018-05-25  0

In [5]:

df=pd.DataFrame(data=({'count':[1,2,3]}),index=['2018-05-22','2018-05-23','2018-05-23'])
grouped=pd.DataFrame(df.groupby(df.index).size())
grouped

            0
2018-05-22  1
2018-05-23  2

In [6]:
concated=pd.concat([grouped,days_df])
concated

            0
2018-05-22  1
2018-05-23  2
2018-05-22  0
2018-05-23  0
2018-05-24  0
2018-05-25  0

In [7]:
grouped_res=concated.groupby(concated.index)
grouped_res.sum()

            0
2018-05-22  1
2018-05-23  2
2018-05-24  0
2018-05-25  0

In [8]:
data=concated.values.reshape((len(concated.index)))